@page "/operaciones-activas"
@using Proyecto_FUXA.Models
@using Proyecto_FUXA.Services
@using Radzen
@using Radzen.Blazor
@using static Proyecto_FUXA.Services.ImputacionService
@inject ImputacionService ImputacionService
@inject DialogService DialogService
@inject ServicioMaquina ServicioMaquina

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" class="rz-mb-4">
    <RadzenText TextStyle="TextStyle.H4" class="rz-m-0">Monitor de operaciones</RadzenText>

    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">

        <RadzenButton Icon="clear" Click="LimpiarBusqueda" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" />
    </RadzenStack>
</RadzenStack>

<RadzenDataGrid Data="@listaOperaciones" TItem="OperacionResumenDTO" AllowPaging="true" PageSize="10"
                AllowFiltering="true" FilterMode="FilterMode.Simple" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
    <Columns>
        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="CodigoOperacion" Title="Cód. Operación" Width="140px">
            <Template Context="o">
                <a href="javascript:void(0)"
                   @onclick="() => AbrirInfoOperacion(o)"
                   style="font-weight: bold; color: var(--rz-primary); text-decoration: underline; cursor: pointer;">
                    @o.CodigoOperacion
                </a>
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="NombreOrden" Title="Orden" Width="140px" />

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="Producto" Title="Producto / Descripción" Width="200px" />

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="NombreMaquina" Title="Máquina" Width="150px" />

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="CiclosObjetivo" Title="Objetivo" Width="100px" TextAlign="TextAlign.Center" Filterable="false" />

        <RadzenDataGridColumn TItem="OperacionResumenDTO" property="PiezasFabricadas" Title="P.fabricadas" Width="100px" TextAlign="TextAlign.Center" Filterable="false" />

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="PiezasRotas" Title="P.rotas" Width="100px" TextAlign="TextAlign.Center" Filterable="false" />

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="Estado" Title="Estado" Width="80px" TextAlign="TextAlign.Center" SortOrder="SortOrder.Ascending">

            <FilterTemplate>
                <RadzenDropDown @bind-Value="estadoSeleccionado"
                                Data="@opcionesEstado"
                                Change="@AplicarFiltros"
                                class="w-100" />
            </FilterTemplate>

            <Template Context="o">
                @if (o.Estado.Equals("Activa"))
                {
                    <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="Activa" />
                }
                else if (o.Estado.Equals("Finalizado"))
                {
                    <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Finalizado" />
                }
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="FechaInicio" Title="Fecha inicio" FormatString="{0:dd/MM HH:mm}" Width="120px" />

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Property="FechaFin" Title="Fecha fin" Width="120px">
            <Template Context="o">
                @if (o.Estado == "Finalizado")
                {
                    @o.FechaFin?.ToString("dd/MM HH:mm")
                }
                else
                {
                    <span style="color: gray;">-</span>
                }
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="OperacionResumenDTO" Title="Imputacion posteriori" Width="120px" TextAlign="TextAlign.Center">
            <Template Context="maquina">
                <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Flat"
                              Size="ButtonSize.Medium" Click="@(args => AbrirDialogoImputarAposteriori(maquina))" />
            </Template>
        </RadzenDataGridColumn>

        @* <RadzenDataGridColumn TItem="OperacionResumenDTO" Title="Editar" Width="70px" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
            <Template Context="operacion">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
                              Size="ButtonSize.Medium" Click="@(args => AbrirDialogoEdicion(operacion))" />
            </Template>
        </RadzenDataGridColumn> *@
    </Columns>
</RadzenDataGrid>

@code {
    List<OperacionResumenDTO> listaCompleta = new();
    List<OperacionResumenDTO> listaOperaciones = new();

    string textoBusqueda = "";
    string estadoSeleccionado = "TODOS";
    List<string> opcionesEstado = new List<string> { "TODOS", "Activa", "Finalizado" };

    protected override async Task OnInitializedAsync()
    {
        await CargarDatos();
    }

    private async Task CargarDatos()
    {
        var datos = await ImputacionService.ObtenerTodasLasOperacionesResumenAsync();

        listaCompleta = datos.OrderBy(o => o.Estado == "Activa" ? 0 : 1).ThenByDescending(o => o.FechaInicio).ToList();

        AplicarFiltros();
    }

    private void AplicarFiltros()
    {
        var resultado = listaCompleta.AsEnumerable();

        if (!string.IsNullOrWhiteSpace(textoBusqueda))
        {
            resultado = resultado.Where(o => o.NombreOrden != null &&
                                             o.NombreOrden.Contains(textoBusqueda, StringComparison.OrdinalIgnoreCase));
        }

        if (estadoSeleccionado != "TODOS")
        {
            resultado = resultado.Where(o => o.Estado == estadoSeleccionado);
        }

        listaOperaciones = resultado.ToList();
    }

    private void LimpiarBusqueda()
    {
        textoBusqueda = "";
        estadoSeleccionado = "TODOS";
        AplicarFiltros();
    }

    private async Task AbrirDialogoEdicion(OperacionResumenDTO operacion)
    {
        var parametros = new Dictionary<string, object>
        {
            {"OperacionParaEditar", operacion}
        };
        var res = await DialogService.OpenAsync<DialogoEditarOperacion>("Editar operacion", parametros);

        if (res == true)
        {
            await CargarDatos();
            StateHasChanged();
        }
    }

    private async Task AbrirInfoOperacion(OperacionResumenDTO operacion)
    {
        var parametros = new Dictionary<string, object>
        {
            {"OperacionInfo", operacion}
        };

        await DialogService.OpenAsync<DialogoInfoOperacion>(
            $"Detalles de Operacion: {operacion.CodigoOperacion}",
            parametros,
            new DialogOptions() { Width = "625px", Height = "700px", Resizable = true, Draggable = true }
        );
    }

    private async Task AbrirDialogoImputarAposteriori(OperacionResumenDTO operacionSeleccionada)
    {

        var operarios = await ServicioMaquina.ObtenerOperariosDeUnaMaquina(operacionSeleccionada.IdMaquina);

        var parametros = new Dictionary<string, object>
    {

        { "OperacionActiva", operacionSeleccionada },
        { "ListaOperarios", operarios }
    };

        var res = await DialogService.OpenAsync<DialogoImputar>(
            $"Imputar Horas: {operacionSeleccionada.CodigoOperacion}",
            parametros,
            new DialogOptions() { Width = "600px", Resizable = true, Draggable = true }
        );

        if (res == true)
        {
            await CargarDatos();
            StateHasChanged();
        }
    }
}